<div>
    <div class="jumbotron" style="display: inline-flex; align-items: center; padding: 15px; width:100%;margin-bottom:0px">
        <img src="/contents/images/OnlineInstitutePortalLogo.png" style=" max-height: 150px; max-width: 150px;" />
        <h1 style="padding:15px">Online Institue Portal</h1>
    </div>
    <hr />
    <div>
        <div id="course_category" class="col-md-4 well">

            <form class="form-horizontal">
                <fieldset>
                    <legend>All Categories</legend>

                    <div class="form-group">

                        <div class="col-lg-10" style="margin-left:30px" >

                            <div class="checkbox">

                                <input type="checkbox" name="categories" value="category_1" checked> Category 1<br>
                                <input type="checkbox" name="categories" value="category_n"> Category n<br>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div id="courses" class="col-md-8 container">

            <div class="well " style="width:auto">
                <h2>Science</h2>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Daily Science</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div >
                                    <p>
                                        <img src="/contents/images/introductiontoscience.jpg" alt="Introduction to Science " style="width:100px;height:75px;float:left;margin-right:20px" />
                                        To succeed in this science course and, more specifically, to answer some of the questions
                                        on the first exam, you should be familiar with a few of the concepts regarding the definition
                                        of science, scientific thinking, and the methods of science. Most textbooks do an inadequate job
                                        of this task, so this essay provides that information. This information in its present form is
                                        not in your textbook, so please read it carefully here, and pay close attention to the words in
                                        boldface and the definitions in italics.
                                    </p>
                                    <a class="btn btn-success " style="float:right"><span class="glyphicon-plus glyphicon"></span> Add to My Courses</a>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
