<div class="row">



    <ul class="nav nav-tabs" style="text-align:center">
        <li class=""><a aria-expanded="false" href="#edittprofile/#personalinfo" data-toggle="tab">Personal Info</a></li>
        <li class=""><a aria-expanded="true" href="#edittprofile/#academicinfo" data-toggle="tab">Academic Info</a></li>


    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="personalinfo">
            <div id="registrationForm" style="max-width: 400px;margin:auto">
                <form role="form" style="margin-top:10px;margin-bottom:15px">

                    <div class="form-group">
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" id="fname" placeholder="First Name" required>
                    </div>

                    <div class="form-group">
                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" id="lname" placeholder="last Name" required>
                    </div>
                    <div class="form-group">
                        <label for="country">Country:</label>
                        <input type="text" class="form-control" id="country" placeholder="Country Name" required>
                    </div>


                    <div class="form-group">
                        <label for="address">Home Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Home Address" required>
                    </div>
                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" class="form-control" id="city" placeholder="City Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="e.g teacher@email.com" readonly>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="number" class="form-control" id="phone" placeholder="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="pword">Password:</label>
                        <input type="password" class="form-control" id="pword" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="cpword">Confirm Password:</label>
                        <input type="password" class="form-control" id="cpword" placeholder="Confirm Password" required>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="reset" class="btn btn-warning fl_right">Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="academicinfo">
            <div id="registrationForm" class="" style="max-width: 400px;margin:auto">
                <form role="form" style="margin-top:10px;margin-bottom:15px">

                    <div class="form-group">
                        <label for="degree">Degree:</label>
                        <input type="text" class="form-control" id="degree" placeholder="Degree" required>
                    </div>

                    <div class="form-group">
                        <label for="institute">Institute:</label>
                        <input type="text" class="form-control" id="institute" placeholder="Institute" required>
                    </div>
                    <div class="form-group">
                        <label for="majorsubjects">Major Subjects:</label>
                        <input type="text" class="form-control" id="majorsubjects" placeholder="Major Subjects" required>
                    </div>


                    <div class="form-group">
                        <label for="yofcompletion">Year of Completion</label>
                        <input type="text" class="form-control" id="yofcompletion" placeholder="Year of Completion" required>
                    </div>



                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="reset" class="btn btn-warning fl_right">Reset</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>

