<div id="fp" class="row">

    <form class="form-horizontal" style="max-width:450px; margin:auto">
        <fieldset>
            <h2>Forgot Password? </h2>
            <p>Enter your registered email. press "Send my Password " button, and then check your email...</p>
            <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input id="email" class="form-control" type="email" placeholder="Email" required />
            </div>
            <div>
                <button type="submit" class="btn btn-success">Send my Password!</button> 
            </div>
        </fieldset>
    </form>
</div>