<div>
    <div class="jumbotron well">
        <div>
            <h1>Take the world's best courses, online, for free.</h1>
        </div>
        <div class="well-lg">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group col-md-6">
                        <input class="form-control " type="text" placeholder="What would you like to learn about?" required />

                    </div>
                    <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div>
            <h3 class="text-center col-md-12">Most Popular Courses</h3>
        </div>
        <div>

            <div class="col-md-4 ">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Science</h3>
                    </div>
                    <div class="panel-body">
                        <p class="">
                            <img src="/contents/images/introductiontoscience.jpg" alt="Introduction to Science "
                                 style="width: 100%; height: 125px; float: left; margin-right: 20px" />
                            To succeed in this science course and, more specifically, to answer some of the questions
                            on the first exam, you should be familiar with a few of the concepts regarding the definition
                            of science, scientific thinking, and the methods of science. Most textbooks do an inadequate job
                            of this task, so this essay provides that information. This information in its present form is
                            not in your textbook, so please read it carefully here, and pay close attention to the words in
                            boldface and the definitions in italics.
                        </p>
                        <a class="btn btn-success " style="float:right">
                            <span class="glyphicon-plus glyphicon"></span>
                            Add to My Courses
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Science</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="/contents/images/introductiontoscience.jpg" alt="Introduction to Science "
                                 style="width: 100%; height: 125px; float: left; margin-right: 20px; " />
                            To succeed in this science course and, more specifically, to answer some of the questions
                            on the first exam, you should be familiar with a few of the concepts regarding the definition
                            of science, scientific thinking, and the methods of science. Most textbooks do an inadequate job
                            of this task, so this essay provides that information. This information in its present form is
                            not in your textbook, so please read it carefully here, and pay close attention to the words in
                            boldface and the definitions in italics.
                        </p>
                        <a class="btn btn-success " style="float:right">
                            <span class="glyphicon-plus glyphicon"></span>
                            Add to My Courses
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Science</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="/contents/images/introductiontoscience.jpg" alt="Introduction to Science "
                                 style="width: 100%; height: 125px; float: left; margin-right: 20px" />
                            To succeed in this science course and, more specifically, to answer some of the questions
                            on the first exam, you should be familiar with a few of the concepts regarding the definition
                            of science, scientific thinking, and the methods of science. Most textbooks do an inadequate job
                            of this task, so this essay provides that information. This information in its present form is
                            not in your textbook, so please read it carefully here, and pay close attention to the words in
                            boldface and the definitions in italics.
                        </p>
                        <a class="btn btn-success " style="float:right">
                            <span class="glyphicon-plus glyphicon"></span>
                            Add to My Courses
                        </a>

                    </div>
                </div>
            </div>

        </div>

    </div>




</div>