<div class="row">
    <div class="well ">
        <div style="display:-webkit-box">
            <img class="img-thumbnail" src="/contents/images/OnlineInstitutePortalLogo.png" width="150" height="150">
            <h2>User Name</h2>
        </div>
        <div>
            <ul class="pager">

                <li class="next"><a href="#/editprofile">Edit Profile</a></li>
            </ul>
        </div>

    </div>
    <ul class="nav nav-tabs">
        <li><a href="#sprofile/#pInfo" data-toggle="tab">Personal Info</a></li>
        <li><a href="#sprofile/#acdInfo" data-toggle="tab">Academic Info</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="pInfo">
            <table class="table table-striped table-hover table-responsive">
                <tr>

                    <td>First Name</td>
                    <td id="fname">ABC</td>
                </tr>
                <tr>

                    <td>Last Name</td>
                    <td id="lname">DEF</td>
                </tr>

                <tr >


                    <td>Address</td>
                    <td id="homeaddress">Street # etc, Block xyz/A, Karachi</td>
                </tr>
                <tr>

                    <td>City</td>
                    <td id="city">Karachi</td>

                </tr>
                <tr>

                    <td>Country</td>
                    <td id="country">Pakistan</td>
                </tr>
                <tr>

                    <td>Email</td>
                    <td>username@domain.com</td>
                </tr>
                <tr>

                    <td>Phone</td>
                    <td id="phone">0093453-4993-888</td>
                </tr>

            </table>
        </div>
        <div class="tab-pane fade" id="acdInfo">
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <td>Degree</td>
                    <td id="degree">BSCS</td>
                </tr>
                <tr>
                    <td>Institute</td>
                    <td id="institute">ABC University Karachi</td>
                </tr>
                <tr>
                    <td>Major Subjects</td>
                    <td id="majorsubjects">Computer Science</td>
                </tr>
                <tr>
                    <td>Year of Completion</td>
                    <td id="yofcompletion">2008</td>
                </tr>
            </table>
        </div>


    </div>


</div>