<div>
    <div>
        <img src="/contents/images/OnlineInstitutePortalLogo.png" style="width:50px;height:50px">
        <h5>User Name</h5>
    </div>
    <div><a href="#/registration">Edit Profile</a> | <a href="#">Log Out</a></div>
    <div>
        <h4>Selected Courses</h4>
        <ul style="list-style:none">
           
            <li><a href="#/courseview">course 1</a></li>
            <li><a href="#/courseview">course 2</a></li>
            <li><a href="#/courseview">course 3</a></li>
        </ul>
    </div>

</div>